* {
	padding: 0;
	margin: 0;
}

.clr {
	clear: both;
}

html, body {
	height: 100%;
}

body {
	background-color: #f4f4f4;
	margin: 0 20px;
}

.container {
	margin: auto;

}

#mainHeader {
	background-color: #777;
	padding-top: 20px;
	padding-bottom: 20px;
}

#mainHeader h1 {
	margin-left: 20px;	
}

#navbar {
	text-align: center;
	background-color: #999;
}

#navbar ul {
	padding-top: 20px;
	padding-bottom: 20px;
}

#navbar a {
	text-decoration: none;
	color: black;
	font-size: 18px;

}

#navbar a:hover {
	font-size: 19px;
}

#navbar li {
	display: inline;
	padding-left: 10px;
}

#mainSection, #mainArticle {
	float: left;
	display: block;
	width: 60%;
	box-sizing: border-box;
	border: 1px solid grey;
	
}

#mainArticle h3, #mainArticle p, #mainSection h1, #mainSection p {
	padding-top: 20px;
	letter-spacing: 2px;
	margin-left: 10px;
}

#mainSection {
	margin-top: 10px;
}

#aside {
	float: right;
	width: 40%;
	box-sizing: border-box;
}

#aside form {
	margin-left: 20px;
}

#aside form label {
	font-size: 18px;
}

input {
	display: block;
	width: 100%;
	margin-top: 10px;
}

#mainFooter {
	margin-top: 20px;
	display: block;
   	width:100%;
   	text-align: center;
 
}

@media (max-width: 600px) {
	#aside {
		float: none;
		width: 100%;
		margin-top: 30px;
	}

	#mainArticle, #mainSection {
		float: none;
		width: 100%;
		margin-top: 30px;
	}
}

